*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 500px;
    height: 700px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
    margin: 5rem;
    overflow: hidden;
}


.img {
    height: 250px;
    background: rebeccapurple;
}
.img img {
    width: 100%;
    overflow: hidden;
}

.img h2{
    text-align: center;
}


.content div{
    color: white;
    background: blue;
    height: 40px;
    width: 56px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    border-radius: .5px;
}
